html{
    background-image: url(tlo1.jpg);
    display: flex;
    background-repeat: no-repeat;
    max-width: auto;
    max-height:auto;
}
#gra{    
    background-image: url(tlo.jpg);
    height: 40em;
    width: 108em;
    margin-left:auto;
    margin-right:auto;
    display: flex;
}
h1{
    text-align: center;
    color: white;
    font-family:fantasy luminari;
    letter-spacing: 6px;
    font-weight: 100;    
}
